
{% extends 'base.html.twig' %}

{% block title %}Index {% endblock %}
{% block head %}
   {{ parent() }}
    <style type="text/css">
ul {

  list-style-type: none;
  margin: 0;
  padding: 0;
}

</style>
{% endblock %}
{% block body %}
{% if form_errors(form.password.first) %}
<div class="alert alert-warning">{{form_errors(form.password.first)}}</div>
{% else %}<br><br><br>
{% endif %}
<div class="container-fluid">

<h2>Change Password </h2>
{{ form_start(form) }}
{{ form_widget(form.oldPassword, {'attr': {'class': 'form-control', 'style' :'width: 20em' , 'placeholder' : 'Old Password'}})}}
<br>
{{form_widget(form.password.first, {'attr': {'class': 'form-control', 'style' :'width: 20em', 'placeholder' : 'Password' }})}}
<br>
{{form_widget(form.password.second, {'attr': {'class': 'form-control', 'style' :'width: 20em', 'placeholder' : 'Confirm Password' }}) }}
<br>
{{form_row(form.submit, {'attr': {'class': 'btn btn-primary'}})}}
{{ form_end(form) }}
</div>
</div>
{% endblock %}